beautifulsoup4==4.8.1
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
cssselect2==0.2.2
defusedxml==0.6.0
feedparser==5.2.1
Flask==1.1.1
html2pdf==0.1
html5lib==1.0.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
lxml==4.4.2
MarkupSafe==1.1.1
pdfcrowd==4.11.0
pdfkit==0.6.1
Pillow==6.2.1
pycodestyle==2.5.0
pycparser==2.19
pynput==1.4.5
PyPDF2==1.26.0
Pyphen==0.9.5
python-xlib==0.25
reportlab==3.5.32
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
tinycss2==1.0.2
urllib3==1.25.7
WeasyPrint==50
webencodings==0.5.1
Werkzeug==0.16.0
wkhtmltopdf==0.2
